<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 搜索引擎优化元标签 -->
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  
  <title>{{ page.title }} | {{ site.title }}</title>
  
  <!-- 预连接和DNS预取 -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://unpkg.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://unpkg.com">
  
  <!-- 字体加载 -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  
  <!-- 图标资源 -->
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/apple-icon-152x152.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico">
  
  <!-- 样式资源 -->
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  
  <!-- 脚本预加载 -->
  <link rel="preload" href="https://unpkg.com/@rdkit/rdkit/Code/MinimalLib/dist/RDKit_minimal.js" as="script" crossorigin>
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  
  <!-- 缓存控制 -->
  <meta http-equiv="Cache-Control" content="public, max-age=31536000, stale-while-revalidate=86400">
</head>