---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        <p class="fw-bold">Guangzhou Medical University</p>
        <p>Junior Prof. in Pharmaceutical Sciences (2024 – Present)<br>Organic Synthesis Methodologies</p>
        
        <p class="fw-bold">Heidelberg University</p>
        <p>Postdoc in Medicinal Chemistry (2021-2024)<br>Advisor: Christian D. Klein</p>
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        <p class="fw-bold">Heidelberg University</p>
        <p>Ph.D. in Organic Chemistry (2018-2021)<br>Advisor: A. Stephen K. Hashmi</p>
        
        <p class="fw-bold">Soochow University</p>
        <p>B.S. & M.Sc. in Chemistry (2011-2018)<br>Advisor: Xinfang Xu</p>
      </div>
    </div>
  </div>
</div>